@mixin flexSB {
  display: flex;
  align-items: center;
}

.jokee-wrapper {
  color: #767676;
  font-family: "Open Sans";

  .header {
    @include flexSB();
    font-family: inherit;
    height: 80px;
    padding: 0 170px 0 225px;

    justify-content: space-between;
    .image {
      width: 55px;
      height: 55px;
      .ava {
        border-radius: 50%;
      }
    }
    .user-info {
      @include flexSB();
      gap: 10px;
      text-align: right;
      font-size: 12px;
      font-family: "Poppins";
    }
  }
  .title {
    font-family: "Poppins";
    text-align: center;
    background-color: #29b363;
    color: #fff;
    padding: 60px 0 70px;
    .main-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .sub-title {
      font-size: 10.5px;
      font-weight: 500;
    }
  }
  .content {
    font-family: inherit;
    margin: 50px 248px;
    font-size: 16px;
    font-weight: 500;
    hr {
      width: 80%;
      margin-top: 40px;
    }
  }
  .choose-button {
    @include flexSB();
    font-family: inherit;
    justify-content: center;
    gap: 24px;
    margin-bottom: 80px;
    button {
      color: #fff;
      width: 210px;
      height: 40px;
      border: none;
    }
  }
  .footer {
    @include flexSB();
    font-family: inherit;
    line-height: 1.5;
    font-size: 11px;
    font-weight: 500;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: 32px 270px;
  }
}

@media only screen and (max-width: 790px) {
  .jokee-wrapper {
  
    .header {
      height: 80px;
      padding: 0 10px ;
      .image {
        width: 55px;
        height: 55px;
      }
    }
    .title {
      padding: 40px 10px;
      .main-title {
        font-size: 18px;
        margin-bottom: 12px;
      }
      .sub-title {
        font-size: 10px;
      }
    }
    .content {
      margin: 75px 18px;
      font-size: 14px;
    }
    .choose-button {
      gap: 18px;
      margin-bottom: 80px;
      button {
        height: 40px;
        width: 160px;
      }
    }
    .footer {
      line-height: 1.5;
      font-size: 8px;
      gap: 16px;
      margin: 32px 18px;
    }
  }
}